<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQpxH6gmSb2c-Ap63lrtsEspHc_TVJ1Dk</string>
	<key>GCM_SENDER_ID</key>
	<string>705512446254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.hrishikesh-kadam.flutter.space-data-explorer.stag</string>
	<key>PROJECT_ID</key>
	<string>space-data-explorer-stag</string>
	<key>STORAGE_BUCKET</key>
	<string>space-data-explorer-stag.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705512446254:ios:dab87a53736e4ce7b382bf</string>
</dict>
</plist>