gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# See https://flutter.dev/docs/deployment/android#reference-the-keystore-from-the-app
key.properties
**/*.keystore
**/*.jks

fastlane/report.xml
fastlane/dev/metadata/android/en-US/changelogs/default.txt
fastlane/stag/metadata/android/en-US/changelogs/default.txt
# GitHub Action ruby/setup-ruby installs gems in PWD
# https://github.com/ruby/setup-ruby#bundle-config
.bundle/
vendor/
