# Note: jobs of ci-contributors.yml, ci-schedule.yml and ci-dispatch.yml should be in sync
name: ci-dispatch

on:
  workflow_dispatch:
    inputs:
      runner:
        description: 'Runner OS'
        required: true
        default: 'ubuntu-latest'
        type: choice
        options:
          - 'ubuntu-latest'
          - 'macos-latest'
          - 'windows-latest'
          - 'macos-13'
      ref:
        description: 'Flutter channel, version or git reference'
        required: true
        default: 'stable'
        type: choice
        options:
          - 'stable'
          - 'beta'
          - 'master'

defaults:
  run:
    shell: bash

jobs:
  ci-dispatch:
    name: CI Dispatched on ${{ inputs.runner }} using Flutter ${{ inputs.ref }}
    runs-on: ${{ inputs.runner }}

    steps:
      - run: git config --global core.autocrlf false
        if: runner.os == 'Windows'

      # - run: echo '${{ toJSON(github) }}'

      - id: get-checkout-ref
        run: |
          if [[ $GITHUB_EVENT_NAME == "pull_request" ]]; then
            CHECKOUT_REF="$(jq -r .pull_request.head.ref "$GITHUB_EVENT_PATH")"
          else
            CHECKOUT_REF="$GITHUB_REF_NAME"
          fi
          echo "CHECKOUT_REF=$CHECKOUT_REF" >> "$GITHUB_OUTPUT"

      - uses: actions/checkout@v4
        with:
          ref: ${{ steps.get-checkout-ref.outputs.CHECKOUT_REF }}

      - uses: hrishikesh-kadam/setup-flutter@v1
        with:
          ref: ${{ inputs.ref }}
          setFlutterRootPath: 'true'
          addPubCacheBinToPath: 'true'

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - run: ./tool/prerequisite.sh --minimal

      # https://github.com/actions/cache/blob/main/examples.md#java---gradle
      - name: Cache Gradle
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-${{ inputs.runner }}-flutter-${{ inputs.ref }}-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}

      - run: ./tool/ci.sh "$(./tool/get-flavor-env.sh)"

      - uses: codecov/codecov-action@v4
        with:
          files: coverage/lcov.info
          name: ci-dispatch-${{ inputs.runner }}-${{ inputs.ref }}

      - run: ./tool/android/stop-gradle.sh
