name: Scheduled CI

on:
  workflow_dispatch:
  schedule:
    # 12:00 PM IST / 6:30 AM GMT every 6th day over the year with following conditions.
    # GitHub will remove any cache entries that have not been accessed in over 7 days.
    # 1. 1 day early in March on 5th for non leap year adjustment.
    # 2. To not continue cache in next year remove 30 from December.
    - cron: '30 6 5,11,17,23,29 1 *'
    - cron: '30 6 4,10,16,22,28 2 *'
    - cron: '30 6 5,11,17,23,29 3 *'
    - cron: '30 6 4,10,16,22,28 4 *'
    - cron: '30 6 4,10,16,22,28 5 *'
    - cron: '30 6 3,9,15,21,27 6 *'
    - cron: '30 6 3,9,15,21,27 7 *'
    - cron: '30 6 2,8,14,20,26 8 *'
    - cron: '30 6 1,7,13,19,25 9 *'
    - cron: '30 6 1,7,13,19,25,31 10 *'
    - cron: '30 6 6,12,18,24,30 11 *'
    - cron: '30 6 6,12,18,24,30 12 *'

defaults:
  run:
    shell: bash

jobs:
  ci:
    name: ci on ${{ matrix.runner }} using Flutter ${{ matrix.ref }}
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        runner: [ ubuntu-latest, macos-latest, windows-latest ]
        ref: [ stable ]
        include:
          - runner: ubuntu-latest
            ref: beta

    steps:
      - run: brew install diffutils
        if: runner.os == 'macOS'
    
      - name: Setup Flutter
        uses: hrishikesh-kadam/setup-flutter@v1
        with:
          ref: ${{ matrix.ref }}

      - name: Setup LCOV
        uses: hrishikesh-kadam/setup-lcov@v1

      - uses: actions/checkout@v3
      - uses: actions/checkout@v3
        with:
          repository: 'hrishikesh-kadam/space_data_explorer_secrets'
          path: 'secrets'
          token: ${{ secrets.SECRETS_REPO_TOKEN }}
      - run: git submodule update --init --recursive

      - run: ./tool/ci.sh

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage/lcov.info
          name: ${{ matrix.runner }}-${{ matrix.ref }}
